
.button-6 {
  align-items: center;
  background-color: #011042;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: .25rem;
  box-shadow: rgba(255, 255, 255, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 6px 12px;
  color: rgba(255, 255, 255, 0.65);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 4px 4px;
  color: rgba(255, 255, 255, 0.65);
  transform: translateY(0);
}

/* Styles pour le titre */
h1 {
  color: #333333;
  font-size: 24px;
  text-align: center;
}

/* Styles pour le contenu */
p {
  color: #9e9e9e;
  font-size: 16px;
  line-height: 1.5;
}

/* Styles pour le fond de la page */
body {
  background-color:LightGray;
}

/* Styles pour la disposition des éléments */

.image-container {
  text-align: center;
  margin-bottom: 20px;
}

.image-container img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.maclass {
  font-size: 20px; /* taille de la police */
  color: #000000; /* couleur du texte (ici, rouge) */
  font-style: Italic; /* police de caractères */
  text-align: center; /* centrage du texte */
}

.container {
  max-width: 720px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 6px;
  padding-right: 6px;
  /* autres styles */
}
